/*
Theme Name: KodaWeb - Exam
Theme URI: 
Company: KodaWeb
Front End Developer: Mark Rowell Verar
Portfolio: http://nevernot.co.nz
Description: 
Version: 1.0
Tags: 
*/
/*=== Responsive Menu Burger ===*/
/*=== END Responsive Menu Burger ===*/
/*=== Custom Containers ===*/
.main--wrapper {
  max-width: 120em;
  /*1920px*/
  margin: 0 auto; }

/*=== END Custom Containers ===*/
/*=== Header Menu ===*/
.logo {
  display: inline-block;
  margin: 32px 0 0 32px; }

.nav--menu {
  float: right;
  display: table; }

.overlay-menu ul {
  list-style-type: none;
  padding-top: 2.2rem; }
  .overlay-menu ul li {
    display: inline-block; }
    .overlay-menu ul li a {
      color: #fff;
      font-size: 18px;
      transition: color .35s ease;
      position: relative;
      text-decoration: none;
      background-color: transparent;
      padding: 1rem;
      padding-bottom: .5rem; }
      .overlay-menu ul li a::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        transition: width 0s ease, background .35s ease; }
      .overlay-menu ul li a::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background: #fff;
        transition: width .35s ease; }
      .overlay-menu ul li a:hover::before {
        width: 100%;
        background: #fff;
        transition: width .35s ease; }
      .overlay-menu ul li a:hover::after {
        width: 100%;
        background: transparent;
        transition: all 0s ease; }

/*=== END Header Menu ===*/
/* *** Reusable Plugins *** */
/*=== Header Carousel ===*/
.bg--slideshows {
  position: fixed;
  width: 100%;
  height: 100%;
  max-height: 771px;
  top: 0px;
  left: 0px;
  z-index: -1; }
  .bg--slideshows .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transition: opacity 1s ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0; }
    .bg--slideshows .slide.show {
      opacity: 1; }

/*=== END HEader Carousel ===*/
/* *** END Reusable Plugins *** */
/* *** Media Query *** */
@media (max-width: 1200px) {
  /*Responsive Menu Burger*/
  .nav--menu {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 40%;
    left: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif; }
    .nav--menu p {
      font-size: 20px; }
    .nav--menu a {
      display: inline-block;
      position: relative;
      text-align: center;
      color: #FF5252;
      text-decoration: none;
      font-size: 20px;
      overflow: hidden;
      top: 5px; }
      .nav--menu a:after {
        content: '';
        position: absolute;
        background: #FF5252;
        height: 2px;
        width: 0%;
        transform: translateX(-50%);
        left: 50%;
        bottom: 0;
        transition: .35s ease; }
      .nav--menu a:hover:after, .nav--menu a:focus:after, .nav--menu a:active:after {
        width: 100%; }

  .button_container {
    position: fixed;
    top: 5%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease; }
    .button_container:hover {
      opacity: .7; }
    .button_container.active .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: #FFF; }
    .button_container.active .middle {
      opacity: 0;
      background: #FFF; }
    .button_container.active .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: #FFF; }
    .button_container span {
      background: #fff;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .35s ease;
      cursor: pointer; }
      .button_container span:nth-of-type(2) {
        top: 11px; }
      .button_container span:nth-of-type(3) {
        top: 22px; }

  .overlay {
    position: fixed;
    background: #FF5252;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden; }
    .overlay.open {
      opacity: .9;
      visibility: visible;
      height: 100%; }
      .overlay.open li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s; }
        .overlay.open li:nth-of-type(2) {
          animation-delay: .4s; }
        .overlay.open li:nth-of-type(3) {
          animation-delay: .45s; }
        .overlay.open li:nth-of-type(4) {
          animation-delay: .50s; }
    .overlay nav {
      position: relative;
      height: 70%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 50px;
      font-family: 'Vollkorn', serif;
      font-weight: 400;
      text-align: center; }
    .overlay ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%; }
      .overlay ul li {
        display: block;
        position: relative;
        opacity: 0; }
        .overlay ul li a {
          display: block;
          position: relative;
          color: #FFF;
          text-decoration: none;
          overflow: hidden; }
          .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
            width: 100%; }
          .overlay ul li a:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 3px;
            background: #FFF;
            transition: .35s; }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%; }
    100% {
      opacity: 1;
      left: 0; } }
  /*END Responsive Menu Burger*/ }
/* *** END Media Query *** */

/*# sourceMappingURL=styles.css.map */
